.header {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.1;
}

.data {
  padding: 20px 24px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-weight: 500;
}

.resourceList {
  list-style-type: none;
  padding-left: 0;
}

.attributes {
  list-style-type: none;
  padding-left: 0;
}