<header id='pageHeader'>
  <nav>
    <h1 class='title'>
      <%= link_to 'OAuth in Action:', root_path %>
    </h1>
    <span class='label label-success'>
      OAuth Protected Resource
    </span>
  </nav>
</header>