To access the resource, make one of the following requests, including a valid OAuth token:

<ul>
  <li><code>GET http://localhost:4002/words</code> to view words</li>
  <li><code>POST http://localhost:4002/words</code> to add a new word</li>
  <li><code>DELETE http://localhost:4002/words</code> to delete the last word added</li>
</ul>